body {
  padding: 0 20px;
  background-color: transparent;
	color: var(--vscode-editor-foreground);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);
	font-family: var(--vscode-editor-font-family);
}


.packet-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}

.packet-properties {
  flex: 1;
}

.packet-hex {
  float: right;
  overflow-wrap: break-word;
  margin: 1ch;
  max-width: 24ch;
}

.packet-ascii {
  float: right;
  overflow-wrap: break-word;
  margin: 1ch;
  max-width: 8ch;
}

.tree {
  float: left;
  margin: 1ch;
  display: block;
}

.tree li {
  display: block;
  position: relative;
  padding-left: 2ch;
}

.tree ul {
  padding-left: 0;
}

.tree span:hover {
  color: var(--vscode-textLink-activeForeground);
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree summary::before {
  display: block;

  position: absolute;

  left: 0;

  content: "˃";
}

.tree details[open] > summary::before {
  content: "˅";
}
