body {
	padding: 0 20px;
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);
	font-family: var(--vscode-editor-font-family);
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	contain: layout;
	display: inline-flex;
	gap: 10px;
	line-height: 1.35em;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
}

.text-container {
	overflow-x: auto;
	overflow-y: hidden;
}

.comment {
	color: #009200;
}

.numbered {
	counter-increment: linenumber;
}

.numbered::before {
	content: counter(linenumber, pad-counter);
}

div::before {
	content: var(--nettools-before);
	text-align: right;
	display: inline-block;
	margin-right: 1em;
	color: var(--vscode-editorLineNumber-foreground);
}

div.text-container > div:hover {
	color: var(--vscode-textLink-activeForeground);
}

div.text-container > div.active {
	background-color: var(--vscode-editor-selectionBackground);
}
div.text-container > div.active::before {
	background-color: var(--vscode-editor-background);
}